
body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pet a cat */
/* img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
} */

/* rainDrop */
canvas {
    border: solid 3px black;
}