/* p {
    color: rebeccapurple;
} */

strong {
    /* font-weight: 400; */
    font-style: italic;
    color: grey;
}

p#main.a.b {
    margin-bottom: 20px;
    color: blue;
  }

.volume {
    background-color: darkorchid;
    /* min-width: 50px; */
    height: 20px;
    width: 60px;
    /* max-width: 200px; */
    /* width: 50px; */
    /* padding-left: 300px ; */
    /* margin-left: 100px; */
}
/* 
.container {
    display: flex;
    justify-content: center;
    padding: 100px;
} */