/* p {
    color: rebeccapurple;
} */

/* strong {
    font-weight: 400;
    font-style: italic;
    color: grey;
}

p#main.a.b {
    margin-bottom: 20px;
    color: blue;
  }

.volume {
    background-color: darkorchid;
    min-width: 50px;
    height: 20px;
    width: 60px;
    max-width: 200px;
    width: 50px;
    padding-left: 300px ; 
    margin-left: 100px;
} 
*/

/* 
.container {
    display: flex;
    justify-content: center;
    padding: 100px;
} */

/* flexbox */
/* body {
    display: flex;
    justify-content: flex-end;
} */

/* .child {
    background-color: lightcoral;
    width: 200px;
    height: 100px;
    border-radius: 15px;
} */

/* cheese board */

/* center container */
/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 3em;
    border: solid 3px black;
    width: 500px;
    display: flex;
    justify-content: center;
}

.black {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
}

.white {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
} */

/* box */
 /* body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 3em;
    border: solid 3px black;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outline {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.space {
    width: 30px;
    height: 30px;
    background-color: white;
} */

/* boxes column */
/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .container {
    padding: 3em;
    border: solid 3px black;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center; 
} */